<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enrollment Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/transcript">Transcript</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/enroll">Enrollment Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">All Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Courses in Current Semester</a>
        </li>
    </ul>
</nav>
<h1>Enrollment Form</h1>
    <form th:action="@{/saveclass}" th:object="${studentclass}" method="post">
        <div class="container">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label>CRN: </label>
                <input type="text" class = "form-control" th:field="*{crn}"> <br/>
            </div>
            <div class="form-group">
                <label>Course Number:</label>
                <input type ="text" class = "form-control" th:field="*{courseNumber}"><br/>
            </div>
            <div class="form-group">
                <label>Subject Code:</label>
                <input type ="text" class = "form-control" th:field="*{subjectCode}"><br/>
            </div>
            <div class="form-group">
            <label>Classroom:</label>
            <!--classroom is an object, so it needs its own object with all the fields-->
            <input type ="text" class = "form-control" th:field="*{classroom}"><br/>
            </div>
            <div class="form-group">
                <label>Instructor:</label>
                <!--instructor is an object, so it needs its own object with all the fields-->
                <input type ="text" class = "form-control" th:field="*{instructor}"><br/>
            </div>
        </div>
        <button type="submit"  class="btn btn-primary">Save</button>
    </form>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>