<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adduser">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/transcript">Transcript</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/enroll">Enrollment Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/allcourses">All Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/currentsemester">Courses in Current Semester</a>
        </li>
    </ul>
</nav>
<div class="jumbotron">
    <h1 class="text-black-50 text-center display-3">Schedule</h1>
</div>
<!--add th:object for the class-->
<div>
    <ul class="list-group">
        <!--<li>Course</li>-->
        <!--<li class="list-group-item">-->
            <!--&lt;!&ndash;add th: field for course number&ndash;&gt;-->
            <!--<span> ENG </span>-->
            <!--<span> 101 </span>-->
            <!--&lt;!&ndash;need a query to lookup course name&ndash;&gt;-->
            <!--<span th:text> Freshman Composition </span>-->
            <!--&lt;!&ndash;need a query to lookup course name&ndash;&gt;-->
            <!--<span> 3 </span>-->
            <!--&lt;!&ndash;add th:field for the department&ndash;&gt;-->
            <!--<span> English Department </span>-->
        <!--</li>-->
        <li>Course</li>
        <!--add th: object for class-->
        <li class="list-group-item" th:each="eachClass:${classes}">
            <!--add th: field for crn-->
            <span th:text="${eachClass.course.subjectCode}"></span>
            <span th:text="${eachClass.course.courseNumber}"></span>
            <span th:text="${eachClass.course.courseName}"></span>
            <span th:text="${eachClass.course.numberOfCredits}"></span>
            <span th:text="${eachClass.course.department.deptName}"></span>
        <li>Class</li>
        <!--add th: object for class-->
            <li class="list-group-item" th:each="eachClass:${classes}">
            <span th:text="${eachClass.crn}"></span>
            <!--add th:field for the class time-->
            <span th:text="${eachClass.subjectCode}"></span>

            <span> MWF 8am </span>
            <!--add th:field for the instructor-->
            <span th:text="${eachClass.instructor.employeeName}"></span>
            <!--add th:field for the classroom-->
            <span th:text="${eachClass.classroom.buildingName}"></span>
            <span th:text="${eachClass.classroom.roomNumber}"></span>
        </li>
        <!--<li>Instructor</li>-->
        <!--&lt;!&ndash;add th: object for instructor&ndash;&gt;-->
        <!--<li class="list-group-item">-->
            <!--&lt;!&ndash;add th: field for instructor id&ndash;&gt;-->
            <!--<span> 8675309 </span>-->
            <!--&lt;!&ndash;add th:field for the instructor name&ndash;&gt;-->
            <!--<span> Dave Wolf</span>-->
            <!--&lt;!&ndash;add th:field for the department&ndash;&gt;-->
            <!--<span> English Department </span>-->
            <!--&lt;!&ndash;add th:field for the office&ndash;&gt;-->
            <!--<span> Office HU322 </span>-->
        <!--</li>-->
    </ul>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>